*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CAROUSEL */
#carousel .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#carousel .img-container{
    width: 50%;
}
#carousel .img-container img{
    width: 100%;
    display: none;
}
#carousel .img-container img.js-active{
    display: block;
}
#carousel .arrow{

    margin: 0 50px;
    font-size: 100px;
    cursor: pointer;
}
